{% extends 'template.html' %}
{% load url from future %}


{% block title %}Fel{% endblock title%}

{% block content %}

<h1>Här har det gått snett...</h1>
<p>Hmm. Om du är på den här sidan så har något blivit fel</p>

  
{% endblock content%}
