{% extends 'template.html' %}

{% block title %}Article View{% endblock %}

{% block content %}

{% include "topp.html" %}

<h1>{{article.latest_version.title}} ({{article.publication}}), Change Log</h1>
<h3><a href="{{article.url}}">{{article.url}}</a></h3> 
<h3>{{article.latest_version.byline}} | Arkiverades första gången {{article.initial_date}}</h3>
<p>
<table class="table table-condensed"  style="width:100%">
     <thead><tr>
	<td>Rubrik</td>
	<td>Arkiverad</td>
	<td>Diff</td>
    </tr> </thead>

    {% for difflink, version in versions %}
    <tr>
      <td><a href="{{link}}">{{version.title}}</a></td>
      <td>{{version.date}}</td>
      {% if difflink %}
      <td><a href="{{difflink}}">(Compare with previous)</a></td>
    {% else %}
    <td></td>
    {% endif %}
    </tr>
  {% endfor %}
</table>

{% endblock %}
