
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NewsDiffs | Artiklar</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="NewsDiffs tracks changes in online news articles over time">
<meta name="author" content="Eric Price, Greg Price, Jennifer 8. Lee">

<!-- Le styles -->


<link href="/static/styles/bootstrap.css" rel="stylesheet" media ="screen">
<style>
body {
padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="/assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">



<!-- <script src="/static/js/jquery.js"></script> -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.js"></script>

</head>

<body>



{% include "topp.html" %}

<div class="container">



<p>

<h1>Ändrade artiklar| Alla källor</h1>
<p>Startade November 24, 2012 (with occasional downtime)</p>
<p>

<table class="table table-condensed" style="width:100%">
<thead><tr><th text-align:"left";>Article</th><th>Version</th><th>Diff</th></tr></thead>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/sports/ncaafootball/paterno-once-ubiquitous-at-penn-state-is-no-longer-uttered.html">Once Ubiquitous on Campus, â€˜Paternoâ€™ Is No Longer Uttered</a> (<a href="http://www.nytimes.com/2012/11/25/sports/ncaafootball/paterno-once-ubiquitous-at-penn-state-is-no-longer-uttered.html">NYT</a>)<br>By BILL PENNINGTON</td>
<td>Nov. 25, 2012, 12:15 a.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fsports%2Fncaafootball%2Fpaterno-once-ubiquitous-at-penn-state-is-no-longer-uttered.html&amp;v1=7eb09acae06a9c6379c117036d8fcdfdeaaa1133&amp;v2=5c2d9d77c1f77d75ca38340f36d54d060ac750d0">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:43 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.bbc.co.uk/news/uk-england-london-20481004">Sex attack on schoolgirl, 11, in Enfield park</a> (<a href="http://www.bbc.co.uk/news/uk-england-london-20481004">BBC</a>)<br></td>
<td>Nov. 25, 2012, 12:13 a.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Fuk-england-london-20481004&amp;v1=b493e9804701d5bffec0839cdf89a6a16675423f&amp;v2=5370d92b5782d566a24868e4905cc79f09c84f3c">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:42 p.m.</td>
<td></td></tr>
<tr><td rowspan="3" valign="top"><a href="/article-history/?url=http://edition.cnn.com/2012/11/24/world/meast/egypt-protests/index.html">Top Egyptian judicial body rips Morsy</a> (<a href="http://edition.cnn.com/2012/11/24/world/meast/egypt-protests/index.html">CNN</a>)<br>Mohamed Fadel Fahmy and Reza Sayah, CNN</td>
<td>Nov. 25, 2012, 12:12 a.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fedition.cnn.com%2F2012%2F11%2F24%2Fworld%2Fmeast%2Fegypt-protests%2Findex.html&amp;v1=a3db78f46e84bab44c4731e3b5807b2a03e5093f&amp;v2=1b75aaf59d12340a6892d51816618913cb1a1a4f">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 6:44 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fedition.cnn.com%2F2012%2F11%2F24%2Fworld%2Fmeast%2Fegypt-protests%2Findex.html&amp;v1=546aebcf55cb1b2880395acd9b19325ea4f98970&amp;v2=a3db78f46e84bab44c4731e3b5807b2a03e5093f">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:41 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/sports/ncaabasketball/college-basketball-roundup.html">Missouri Learns From Costly Turnovers in Loss to Slip Past V.C.U.</a> (<a href="http://www.nytimes.com/2012/11/25/sports/ncaabasketball/college-basketball-roundup.html">NYT</a>)<br>By THE ASSOCIATED PRESS</td>
<td>Nov. 25, 2012, 12:09 a.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fsports%2Fncaabasketball%2Fcollege-basketball-roundup.html&amp;v1=9c0730d28de576277e849c6a302be45eb46b86ca&amp;v2=a87735a8790d471ce9d420d04153be6cc0818647">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 10:17 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/world/asia/student-killed-in-melee-at-afghan-university.html">Student Killed in Melee at Afghan University</a> (<a href="http://www.nytimes.com/2012/11/25/world/asia/student-killed-in-melee-at-afghan-university.html">NYT</a>)<br>By AZAM AHMED</td>
<td>Nov. 25, 2012, 12:09 a.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fworld%2Fasia%2Fstudent-killed-in-melee-at-afghan-university.html&amp;v1=db1ab48bf27144274f8e560106a0fce3b0adfdaa&amp;v2=bb67d06037a58da3ee0f50ff0a21aa412df1e7af">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 10:16 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/sports/ncaafootball/with-big-4th-quarter-florida-aids-postseason-credentials.html">Turnovers Cost Florida State Against Gators</a> (<a href="http://www.nytimes.com/2012/11/25/sports/ncaafootball/with-big-4th-quarter-florida-aids-postseason-credentials.html">NYT</a>)<br>By THE ASSOCIATED PRESS</td>
<td>Nov. 25, 2012, 12:09 a.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fsports%2Fncaafootball%2Fwith-big-4th-quarter-florida-aids-postseason-credentials.html&amp;v1=5bba8d5a636965a1356339e969cbeea2426626a5&amp;v2=4da9f5acc968f3f5e5786e913226943c7194903b">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 10:16 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.politico.com/news/stories/1112/84183.html">Sunday talk show tip sheet</a> (<a href="http://www.politico.com/news/stories/1112/84183.html">Politico</a>)<br>By Katie Glueck</td>
<td>Nov. 24, 2012, 10:22 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.politico.com%2Fnews%2Fstories%2F1112%2F84183.html&amp;v1=c646670aed7a291f01da11c02f47111071027e42&amp;v2=a68bf8d561b3d1d4ba72c5d9a58fdbee8afcb8ba">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:45 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/world/middleeast/hamas-announcement-further-clouds-truce-talks.html">Hamas Claim Of Progress Complicates Talk of Truce</a> (<a href="http://www.nytimes.com/2012/11/25/world/middleeast/hamas-announcement-further-clouds-truce-talks.html">NYT</a>)<br>By JODI RUDOREN</td>
<td>Nov. 24, 2012, 10:22 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fworld%2Fmiddleeast%2Fhamas-announcement-further-clouds-truce-talks.html&amp;v1=bba27f20c63452a2e3f66d1207102751f8ad322e&amp;v2=7b328af394f1d27c36f91e2b25415589003cf7b2">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:44 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/world/middleeast/a-fragile-mideast-cease-fire-achieved-by-leaving-thorny-issues-unresolved.html">A Fragile Cease-Fire Achieved by Leaving Thorny Issues Unresolved</a> (<a href="http://www.nytimes.com/2012/11/25/world/middleeast/a-fragile-mideast-cease-fire-achieved-by-leaving-thorny-issues-unresolved.html">NYT</a>)<br>By MICHAEL R. GORDON</td>
<td>Nov. 24, 2012, 10:21 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fworld%2Fmiddleeast%2Fa-fragile-mideast-cease-fire-achieved-by-leaving-thorny-issues-unresolved.html&amp;v1=637d637bfac58e45d128ad70d50f0d7e3feffe6b&amp;v2=ec718e463ca6523a8e75837cd7f9465f20ac7bc6">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:43 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/opinion/sunday/neuroscience-under-attack.html">Neuroscience: Under Attack</a> (<a href="http://www.nytimes.com/2012/11/25/opinion/sunday/neuroscience-under-attack.html">NYT</a>)<br>By ALISSA QUART</td>
<td>Nov. 24, 2012, 10:20 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fopinion%2Fsunday%2Fneuroscience-under-attack.html&amp;v1=f44b5e25a876e2792cb8f71973cddcb53ab32b3b&amp;v2=b7a952670fc2a87470c2074c101b2ad46f9874e3">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:43 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/sports/hector-camacho-50-boxer-who-lived-dangerously-dies.html">Hector Camacho, 50, Boxer Known for His Quick Hands</a> (<a href="http://www.nytimes.com/2012/11/25/sports/hector-camacho-50-boxer-who-lived-dangerously-dies.html">NYT</a>)<br>By BRUCE WEBER</td>
<td>Nov. 24, 2012, 10:19 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fsports%2Fhector-camacho-50-boxer-who-lived-dangerously-dies.html&amp;v1=fe6e8c090e7d77af3961cc8d02194e46a1872f81&amp;v2=33fd1cd6edc0824fa6f4a692cb4696ee43301823">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:41 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.politico.com/news/stories/1112/84186.html">Bill Press is keeping it â€˜Currentâ€™</a> (<a href="http://www.politico.com/news/stories/1112/84186.html">Politico</a>)<br>By Mackenzie Weinger</td>
<td>Nov. 24, 2012, 10:19 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.politico.com%2Fnews%2Fstories%2F1112%2F84186.html&amp;v1=594035818ef5a38a404785708d7273013d6e1337&amp;v2=e3dbd09c3baa92ee6cb99c12eb591704396df8a5">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:41 p.m.</td>
<td></td></tr>
<tr><td rowspan="3" valign="top"><a href="/article-history/?url=http://www.bbc.co.uk/news/uk-20470728">Woman killed by tree amid more storms</a> (<a href="http://www.bbc.co.uk/news/uk-20470728">BBC</a>)<br></td>
<td>Nov. 24, 2012, 10:19 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Fuk-20470728&amp;v1=2524d6c4a2dd567f8e96a5bd7fcc85c584f5e68e&amp;v2=afc6adb4746915e04a053713b2cbab9f68053dcc">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 6:44 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Fuk-20470728&amp;v1=0ce5f695b29bde86617fd10f9b1c1a983be73615&amp;v2=2524d6c4a2dd567f8e96a5bd7fcc85c584f5e68e">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:41 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://edition.cnn.com/2012/11/24/sport/football/real-madrid-bayern-football/index.html">Away-day blues continue for Real Madrid</a> (<a href="http://edition.cnn.com/2012/11/24/sport/football/real-madrid-bayern-football/index.html">CNN</a>)<br></td>
<td>Nov. 24, 2012, 10:19 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fedition.cnn.com%2F2012%2F11%2F24%2Fsport%2Ffootball%2Freal-madrid-bayern-football%2Findex.html&amp;v1=fc6e2a402c5d72c02bebee27814f8c051b822968&amp;v2=c2051515151b15381b1cfeb2f4d527a6a043dc61">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 6:43 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/world/middleeast/morsi-urged-to-retract-edict-to-bypass-judges-in-egypt.html">Egyptian Judges Challenge Morsi Over New Power</a> (<a href="http://www.nytimes.com/2012/11/25/world/middleeast/morsi-urged-to-retract-edict-to-bypass-judges-in-egypt.html">NYT</a>)<br>By DAVID D. KIRKPATRICK</td>
<td>Nov. 24, 2012, 10:18 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fworld%2Fmiddleeast%2Fmorsi-urged-to-retract-edict-to-bypass-judges-in-egypt.html&amp;v1=9d39b958644b509743f1b7ae1da52a2e74dccb4d&amp;v2=135dc0c2ae1fb169e5f68d4e43557d9244a047cc">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:41 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/nyregion/path-service-to-resume-into-lower-manhattan.html">PATH Service to Resume Into Lower Manhattan</a> (<a href="http://www.nytimes.com/2012/11/25/nyregion/path-service-to-resume-into-lower-manhattan.html">NYT</a>)<br>By MARC SANTORA</td>
<td>Nov. 24, 2012, 10:18 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fnyregion%2Fpath-service-to-resume-into-lower-manhattan.html&amp;v1=4598f4d4b272e8a0cab1235011e27cc6663b3aad&amp;v2=2aed2d7ae54365d06dcfb11897643da4b405f31c">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:40 p.m.</td>
<td></td></tr>
<tr><td rowspan="3" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/sports/ncaafootball/ohio-states-unbeaten-season-leads-nowhere.html">Beating Their Rival, Buckeyes Finish Unbeaten, Untied and Unfulfilled</a> (<a href="http://www.nytimes.com/2012/11/25/sports/ncaafootball/ohio-states-unbeaten-season-leads-nowhere.html">NYT</a>)<br>By TODD JONES</td>
<td>Nov. 24, 2012, 10:17 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fsports%2Fncaafootball%2Fohio-states-unbeaten-season-leads-nowhere.html&amp;v1=4b928d8359049ccbe6de29b88d110a1ec7f2346d&amp;v2=2819e3d0c17bbd275422619d1b49cf1e57db05cc">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 6:44 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fsports%2Fncaafootball%2Fohio-states-unbeaten-season-leads-nowhere.html&amp;v1=121ac5ed99cb99d8a04a768a2554d51cb6e08ebc&amp;v2=4b928d8359049ccbe6de29b88d110a1ec7f2346d">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:40 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/arts/television/larry-hagman-who-played-jr-ewing-on-dallas-dies-at-81.html">Larry Hagman, â€˜Dallasâ€™ Villain With Sinister Smile, Dies at 81</a> (<a href="http://www.nytimes.com/2012/11/25/arts/television/larry-hagman-who-played-jr-ewing-on-dallas-dies-at-81.html">NYT</a>)<br>By ENID NEMY</td>
<td>Nov. 24, 2012, 6:46 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Farts%2Ftelevision%2Flarry-hagman-who-played-jr-ewing-on-dallas-dies-at-81.html&amp;v1=3227a140d5fffd35fbf08b24022e9e0df5b5251e&amp;v2=619e84a911a9a1a9939fef31b822c79996881d75">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:44 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/sports/football/49ers-take-odd-spin-on-quarterback-controversy.html">Odd Spin on Quarterback Controversy</a> (<a href="http://www.nytimes.com/2012/11/25/sports/football/49ers-take-odd-spin-on-quarterback-controversy.html">NYT</a>)<br>By JOHN BRANCH</td>
<td>Nov. 24, 2012, 6:46 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fsports%2Ffootball%2F49ers-take-odd-spin-on-quarterback-controversy.html&amp;v1=c889617fc96a4c7e4d7db86558cfac37599e78a7&amp;v2=334721347c170890e03fae805bed3a81a16c5edd">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:44 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://edition.cnn.com/2012/11/24/us/larry-hagman-obit/index.html">Larry Hagman, the man behind iconic villain J.R. Ewing, dies</a> (<a href="http://edition.cnn.com/2012/11/24/us/larry-hagman-obit/index.html">CNN</a>)<br>Chelsea J. Carter and Greg Botelho, CNN</td>
<td>Nov. 24, 2012, 6:46 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fedition.cnn.com%2F2012%2F11%2F24%2Fus%2Flarry-hagman-obit%2Findex.html&amp;v1=8c383d97a477259176886cc0a097306780be5f03&amp;v2=86ceb18edaf6b97b51e037ac76f3b61b2e81dc0b">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:43 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/magazine/the-hard-life-of-an-nfl-long-shot.html">Goal to Go</a> (<a href="http://www.nytimes.com/2012/11/25/magazine/the-hard-life-of-an-nfl-long-shot.html">NYT</a>)<br>By CHARLES SIEBERT</td>
<td>Nov. 24, 2012, 6:45 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fmagazine%2Fthe-hard-life-of-an-nfl-long-shot.html&amp;v1=6917eb36efa56d3d1f1557d1c0b2781823a02fc9&amp;v2=ebbe23ca8fac7d507b22ec31a778ba6a564a1bd5">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:41 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://edition.cnn.com/2012/11/23/us/new-york-sandy-recovery/index.html">NJ governor puts Sandy damage at $29.4 billion</a> (<a href="http://edition.cnn.com/2012/11/23/us/new-york-sandy-recovery/index.html">CNN</a>)<br>Julia Talanova and Rande Iaboni, CNN</td>
<td>Nov. 24, 2012, 6:44 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fedition.cnn.com%2F2012%2F11%2F23%2Fus%2Fnew-york-sandy-recovery%2Findex.html&amp;v1=b08e5914b0183d6994d975ff26a978760de17ac4&amp;v2=e0ed4cdc1ad6ea1531d6958d8cdbfe7cffc61849">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:41 p.m.</td>
<td></td></tr>
<tr><td rowspan="2" valign="top"><a href="/article-history/?url=http://www.nytimes.com/2012/11/25/world/middleeast/israel-and-hamas-are-united-in-seeing-scant-value-in-compromise.html">On This, 2 Sides Agree: Fighting Hardened Positions</a> (<a href="http://www.nytimes.com/2012/11/25/world/middleeast/israel-and-hamas-are-united-in-seeing-scant-value-in-compromise.html">NYT</a>)<br>By JODI RUDOREN and ISABEL KERSHNER</td>
<td>Nov. 24, 2012, 6:44 p.m.</td>
<td><a href="/diffview/?url=http%3A%2F%2Fwww.nytimes.com%2F2012%2F11%2F25%2Fworld%2Fmiddleeast%2Fisrael-and-hamas-are-united-in-seeing-scant-value-in-compromise.html&amp;v1=ec902701f2f79a7ec8d0cb46ea0851591b590b79&amp;v2=0b144879dc369cd7e0a97a4f7bb6924780021294">(Compare)</a></td></tr><tr>
<td>Nov. 24, 2012, 5:41 p.m.</td>
<td></td></tr>
</table>
1


<hr>
<footer>
<p>&copy; <a href="/contact/">NewsDiffs</a> 2012 | <a href="http://twitter.com/newsdiffs">@newsdiffs</a> | <a href="/subscribe/">Subscribe</a> </p>
</footer>

</div>


</div> <!-- /container -->
<!-- Bootstrap javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--
<script src="/static/lib/bootstrap-alert.js"></script>
<script src="/static/lib/bootstrap-modal.js"></script>
<script src="/static/lib/bootstrap-dropdown.js"></script>
<script src="/static/lib/bootstrap-scrollspy.js"></script>
<script src="/static/lib/bootstrap-tab.js"></script>
<script src="/static/lib/bootstrap-tooltip.js"></script>
<script src="/static/lib/bootstrap-popover.js"></script>
<script src="/static/lib/bootstrap-button.js"></script>
<script src="/static/lib/bootstrap-collapse.js"></script>
<script src="/static/lib/bootstrap-carousel.js"></script>
<script src="/static/lib/bootstrap-typeahead.js"></script>
-->
</body>
</html>
