{% extends "template.html" %}
{% load url from future %}

{% block head %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>

<script src="{% url 'static' 'lib/diff_match_patch_uncompressed.js'%}" type="text/javascript"></script>

<script type="text/javascript">
  var text1 = '{{text1|escapejs}}';
  var text2 = '{{text2|escapejs}}';
  $(document).ready(function () {
    var dmp = new diff_match_patch();
    dmp.Diff_ShowPara = false;
    var diff = dmp.diff_main(text1, text2);
    dmp.diff_cleanupSemantic(diff);
    $('#compare')[0].innerHTML = dmp.diff_prettyHtml(diff);
  });
</script>

  <style type="text/css">
  del {
    background-color: #ffa0a0;
  }
  ins {
    background-color: #a0ffa0;
  }
  </style>

{% endblock head %}

{% block content %}
{% include "topp.html" %}

{% if display_search_banner %}
    <style>
      .search-banner h3{
        text-align: center;
        padding-bottom: .5em;
      }
      .search-banner {
        background-color: #ffffa0;
        border: 2px solid black;
        padding: .5em;
        margin: 0.4em 1em 1em 1em;
        font-size: 14pt;
      }
    </style>




<div class="search-banner">
<h3>Välkommen till svenska <a href="{% url 'root' %}">NewsDiffs</a>!</h3>

NewsDiffs tracks post-publication changes to articles in online news
media.  Below, you can see edits made to an article after it was
published.  You can browse through many such edits in our <a href=
"{% url 'browse' %}" > archive</a>.
</div>
{% endif %}

    <h2>Jämför: {{title}}</h2>
    <h3><a href="{{article_url}}">{{article_url}}</a></h3>
    <ul>
      <li><del>Pink: Uppdaterad {{date1}}</del></li>
      <li><ins>Green: Uppdaterad {{date2}}</ins></li>
    </ul>
    <p>
      {% if prev %}
      <a href="{{prev}}"><= Tidigare version</a>
      {% else %}
      Inga tidigare versioner
      {% endif %} |
      <a href="{% url 'article_history' article_shorturl %}">Alla ändringar</a>
      |
      {% if next %}
      <a href="{{next}}">Senare version =></a>
      {% else %}
      Inga senare versioner
      {% endif %}
    </p>

<!--
Are these changes interesting?   <form action="{% url 'upvote' %}" method=POST>
      <input type=hidden name=article_url value={{article_url}}>
      <input type=hidden name=diff_v1 value={{v1}}>
      <input type=hidden name=diff_v2 value={{v2}}>
      <input type=submit name=submit value="Yes">
    </form>
-->
<hr>
    <div>
      <div id="compare">
      </div>
    </div>
{% endblock content%}

{% block title %}Diffing: {{title}}{% endblock %}
