{% load url from future %}

<form method="get" action="{% url 'article_history' %}">
  Sök på en artikel via URL: <input type="text" name="url" style="width: 40em"></input>
  <input type="submit" value="Go" style="margin-bottom: 9px" />
</form>
