{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NewsDiffs i Sverige | {% block title %}Hur förändras nyhetsartiklar över tid?{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hur förändras nyhetsartiklar över tid?">
    <meta name="author" content="Eric Price, Greg Price, Jennifer 8. Lee">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    <!-- Le styles -->


    <link href="{% url 'static' 'styles/bootstrap.css' %}" rel="stylesheet" media ="screen">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{% url 'root' %}assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% url 'root' %}assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% url 'root' %}assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% url 'root' %}assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{% url 'root' %}assets/ico/apple-touch-icon-57-precomposed.png">




      {% block head %} {% endblock %}
     <!-- <script src="{% url 'static' 'js/jquery.js' %}"></script> -->
     <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->         
	<script src="{% url 'static' 'js/bootstrap.js'%}"></script>

  </head>

  <body>





    <div class="container">
      {% block content %} {% endblock content%}
<hr>
 {% block footer %} 
	<footer>
        <p>Byggt på förlagan NewsDiffs <a href="http://twitter.com/newsdiffs">@newsdiffs</a> </p>
        </footer>
{% endblock footer %}
    </div>


    </div> <!-- /container -->
		
    <!-- Bootstrap javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% url 'static' 'lib/bootstrap-alert.js' %}"></script>
    <script src="{% url 'static' 'lib/bootstrap-modal.js' %}"></script>
    <script src="{% url 'static' 'lib/bootstrap-dropdown.js' %}"></script>
    <script src="{% url 'static' 'lib/bootstrap-scrollspy.js' %}"></script>
    <script src="{% url 'static' 'lib/bootstrap-tab.js' %}"></script>
    <script src="{% url 'static' 'lib/bootstrap-tooltip.js' %}"></script>
    <script src="{% url 'static' 'lib/bootstrap-popover.js' %}"></script>
    <script src="{% url 'static' 'lib/bootstrap-button.js' %}"></script>
    <script src="{% url 'static' 'lib/bootstrap-collapse.js' %}"></script>
    <script src="{% url 'static' 'lib/bootstrap-carousel.js' %}"></script>
    <script src="{% url 'static' 'lib/bootstrap-typeahead.js' %}"></script>
  </body>
</html>
