{% load url from future %}

<h1>Mediakollen |  Ändringar i svenska nyhetsartiklar</h1><p>

<h2>Just nu spårar vi ändringar i artiklar på
    {% for source in sources|slice:":-1" %}
    <a href="{% url 'browse' source %}">{{source}}</a>,
    {% endfor %}
    och
    <a href="{% url 'browse' sources|last %}">{{sources|last}}</a>.</h2>

<p>
